/*@media (min-width: 1200px){
	.container {
	    width: 1170px;
	}
}
@media (min-width: 992px){
	.container {
	    width: 970px;
	}
}
@media (min-width: 768px){
	.container {
	    width: 750px;
	}
}*/


/*.Ischecked.selected {
    background: url(../../images/train_butten_remember_pressed.png) no-repeat;
}
.Ischecked {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 4px;
    background: url(../../images/train_butten_remember_defaule.png) no-repeat;
}*/
.arrowDown,.arrowRotate{
	display: inline-block;
	width:14px;
	height:10px;
	margin-left:10px;
}
.arrowDown{
	background: url('../../images/train_icon_institution_add_content_open.png') no-repeat center center;
}
.arrowRotate{
	background: url('../../images/train_icon_institution_add_content_retract.png') no-repeat center center;
}
label {
	font-size: 12px;
	cursor: pointer;
	position: relative;
}

label i {
	position: absolute;
	left: 0px;
	top: 0px;
	font-size: 12px;
	font-style: normal;
	display: inline-block;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	color: #fff;
	vertical-align: middle;
	background: url(../../images/train_icon_institution_check_default.png) no-repeat;
	;
	margin: -6px;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]:checked+ i {
	background: url(../../images/train_icon_institution_check_pressed.png) no-repeat;
}

.checkbox-inline {
	margin: 10px!important;
	padding: 0px!important;
}

.heading {
	display: inline-block;
	width: 130px;
	height: 46px;
	line-height: 46px;
	text-align:center;
	color:#fff;
	font-size:16px;
}
.picName{
	position: absolute;
	left:0px;
	bottom: 0px;
	right:0px;
	background:#6D7786;
	color:#fff;
	font-size:12px;
	height:24px;
	line-height:24px;
	text-align: center;
}
.CourseConfigurationImgPic,.guidanceConfigurationImgPic{
	width:160px;
	height:110px;
}
.lecturerConfigurationImgPic{
	width:140px;
	height:140px;
}


.bg-9E569E {
	background: #9E569E;
}

.bg-46B8BC {
	background: #46B8BC;
}

.bg-FDAE27 {
	background: #FDAE27;
}
