html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: "微软雅黑";
	vertical-align: baseline;
	text-decoration: none;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	background: #ebf1f5;
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
button,.btn{outline:none!important;}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:hover, a:focus {
	text-decoration: none !important;
	color: #fff;
}
::-ms-clear, ::-ms-reveal{display: none;}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
	padding: 0;
}
.row{
	margin: 0;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	vertical-align: middle;
}
.form-horizontal .form-group {
	margin-left: 0;
	margin-right: 0;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clear {
	zoom: 1;
}

.clear:after {
	content: "";
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
}

/*面包屑导航*/
.breadcrumb{
	padding: 0;
	padding-left: 30px;
	height: 70px;
	line-height: 70px;
	background: #ffffff;
	font-size: 16px;
	font-weight: bold;
}
.breadcrumb>li+li:before {
    content: "";
}
.breadcrumb>li a{
	padding-right: 10px;
	color: #354252;
	cursor: pointer;
}
.breadcrumb>.active {
    color: #354252;
}

/*公用的一些样式*/
.bgcolor-f9f9f9 {
	background: #f9f9f9;
}
.color-354252 {
	color: #354252;
}
.btn-primary{
	height: 50px;
	font-size: 18px;
	color: #fcfafa;
	background: #3879d9;
	border: 0;
}
em{
	margin-right: 5px;
	color: #f00;
}

/*右侧内容*/
.panel-default{
	margin: 40px;
	padding: 40px 30px;
	background: #ffffff;
	border-radius: 5px;
	box-shadow:0 0 8px rgba(161, 182, 197, .35); 
	-webkit-box-shadow:0 0 8px rgba(161, 182, 197, .35); 
  	-moz-box-shadow:0 0 10px rgba(161, 182, 197, .35);   
}

.panel-default .form-control{
	max-width: 400px;
	height: 40px;
}
.form-horizontal .form-group{
	margin-bottom: 15px;
}
.form-horizontal .control-label{
	padding: 0;
	padding-right: 10px;
	line-height: 40px;
	color: #354252;
}
.panel-default .btn-primary{
	padding: 0 12px;
	height: 40px;
	line-height: 40px;
	border-radius: 0;
	font-size: 14px;
}
#saveBtn{
	margin: 80px auto 150px;
	font-size: 18px;
	width: 180px;
	color: #fff;
	background: #cbced2;
}
#returnBtn{
	margin: 80px 60px 150px;
	font-size: 18px;
	width: 180px;
	background: #4A586E !important;
}
.panel-default select{
	width: 100%;
	height: 40px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
}

/*上传*/
.file-input{
	max-width: 400px;
}
.file-caption-name{
	height: 40px !important;
	line-height: 40px;
	padding-left: 10px;
	font-size: 14px;
}
.form-control.file-caption{
	padding: 0;
}
.input-group {
	max-width: 400px;
}
.progress-bar-success{
	background: #4790fb;
}
.file-preview-frame, .file-preview-image, .file-preview-other {
    max-width: 320px;
}
.file-footer-caption{
	display: none;
}

/*输入框input*/
.form-control{
	height: 50px;
	border-radius: 0;
	box-sizing: border-box;
	font-size: 16px;
	color: #505c6b !important;
	outline: none;
}
.form-control::-webkit-input-placeholder { /* WebKit browsers */
    color:#838e9b;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
　　color:#838e9b;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
　　color:#838e9b;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
　　color:#838e9b;
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}


/*输入框密码可见icon*/
.icon-password {
    right: -26px;
}
.password-default {
    background: url(../../images/train_icon_password_open_default.png);
}
.password-pressed {
    background: url(../../images/train_icon_password_open_pressed.png);
}
.icon-password {
    position: absolute;
    top: 50%;
    right: 0;
    width: 24px;
    height: 17px;
    transform: translateY(-50%);
}

/*错误提示语*/
.help-block{
	margin-bottom: 14px;
	font-size: 12px;
	color: #8C96A2;
}
.form-horizontal .help-block{
    line-height: 2;
    margin-bottom: 0;
}

/*模态框*/
.modal.in .modal-dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0!important;
	transform: translate(-50%, -50%);
}
.modal-body{
	padding: 40px 0 60px;
	text-align: center;
}
.modal-body img{
	display: block;
	margin: 0 auto 50px;
}
.modal-body p{
	line-height: 2;
	font-size: 20px;
	font-weight: bold;
}
.modal-body span{
	font-size: 16px;
}
/*下拉菜单样式*/
select{
	width: 100%;
	height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
@media (min-width: 768px){
	.form-inline select {
	    display: inline-block;
	    width: 173px;
	    vertical-align: middle;
	}
}
select:focus{
	border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
option{
	padding: 4px 0;
}

/**导航栏以及左侧侧边栏**/
/**导航栏**/
.navbar {
	height: 60px;
	line-height: 60px;
	background:#FDFEFF;
	margin-left:232px;
	border-bottom: 1px solid #d5dadd;
}

.container-fluid,
.nav> li {
	margin: 0;
	padding: 0;
}


/**logo**/

.brand {
	display: block;
	width: 232px;
	height: 100px;
	background: #4790fb url('../../images/train_nav_image_outlook.png') no-repeat center center;
}


/**导航栏右侧**/

.nav> li {
	float: left;
	margin: 0px 10px;
}
.nav> li:nth-child(2){
	margin-right:30px;
}
.nav>li:last-child{
	margin:0;
}


/**用户头像**/

.userHeader {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	vertical-align: middle;
}
/*退出按钮*/
#outBtn{
	width: 80px;
	height: 60px;
	border-radius: 0;
	margin-top: -5px;
}

/**页面容器**/

.page-container {
	height: 100%;
}


/*左侧菜单*/

.sidebar-menu {
	width: 232px;
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	background: #354051 url(../../images/train_nav_bg.png) no-repeat bottom;
}


/*一级菜单*/

.menu-first {
	display: block;
	width: 100%;
	height: 55px;
	line-height: 55px;
	background-color: #354051;
	padding: 0;
	font-size: 18px;
	color: #b6b4c8;
	font-weight: normal;
	padding-left:50px;
	cursor: pointer;
}
.menu-first:hover{
	text-decoration: none;
}
#channelSetting{
	background: url(../../images/train_nav_channel_bg.png) no-repeat 60px;
}

/*一级菜单鼠标划过状态*/

/*.menu-first:hover {
	text-decoration: none;
	background-color: #d6d4d5;
}*/


/*二级菜单*/
.menu-second li{
	position: relative;
}
.menu-second li a {
	display: block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
	color: #b6b4c8;
}



/*二级菜单鼠标划过样式*/

/*.menu-second li a:hover,.menu-second li a.on {
	text-decoration: none!important;
	color:#0898D7;
	background-color: #232543;
    border-left: 5px solid #4790fb;
}*/
.menu-second li a.on:before{
	content: "";
	display: block;
    position: absolute;
	top: 45%;
	margin-left: 57px;
	width: 7px;
	height: 7px;
	background: #4790fb;
	border-radius: 100%;
}
/**左侧边栏按钮样式**/
.sidebarIcon{
	display: inline-block;
	width:18px;
	height:20px;
	margin-right:20px;
	vertical-align: middle;
}
/**认证设置icon**/
.authenticationSettings{
	background: url('../../images/train_nav_icon__certification_default.png') no-repeat center center;
}
/**选中后样式**/
.authenticationSettings_selected{
	background: url('../../images/train_nav_icon__certification_pressed.png') no-repeat center center;
}
/**机构设置icon**/
.organizationSetting{
	background: url('../../images/train_nav_icon_institution_default.png') no-repeat center center;
	
}
/**选中后样式**/
.organizationSetting_selected{
	background: url('../../images/train_nav_icon_institution_pressed.png') no-repeat center center;
}
/**频道设置icon**/
.channelSetting{
	background: url('../../images/train_nav_icon_channel_default.png') no-repeat center center;
	
}
/**选中后样式**/
.channelSetting_selected{
	background: url('../../images/train_nav_icon_channel_pressed.png') no-repeat center center;
	
}

/*二级菜单选中状态*/

.menu-second-selected {
	background-color: #66c3ec;
	height: 31px;
	line-height: 31px;
	border-top: 1px solid #83ceed;
	border-bottom: 1px solid #83ceed;
	border-right: 3px solid #f8881c;
	border-left: 3px solid #66c3ec;
	text-align: center;
}


/*覆盖bootstrap的样式*/

.nav-list,
.nav-list li a {
	padding: 0px;
	margin: 0px;
}
.page{
	position: absolute;
	left: 232px;
	top: 60px;
	right: 0;
	bottom: 0;
}
/**内容盒子**/
.contentBox {
	width: 100%;
	height: 100%;
	text-align: center;
}

/**内容头部**/
.contentTittle {
	width:100%;
	height:80px;
	line-height:80px;
	text-align: center;
	background:#fff;
	
	
}
/**内容头部文字**/
.contentTittle span{
	font-size:34px;
	font-weight: bold;
}
.contentBody{
	width:100%;
	position: absolute;
    top: 82px;
    left: 0;
    bottom: 0;
    right: 0;
}
	
.bodyTittle{
	height:150px;
	line-height:150px;
}
.bodyTittle span{
	font-size:20px;
	color:#354251;
}
.bodyCenter{
	height:360px;
	line-height:360px;
}
.bodyBottom{
	height:190px;
	line-height:190px;
}
/**开始认证**/
.start{
	margin-top: 20px;
}

/*列表页面*/
.form-inline .form-control {
	height: 36px;
	border-radius: 4px;
}
.operation{
	margin-bottom: 40px;
}
.form-inline #name {
	margin-right: 30px;
}

.form-inline label {
	font-size: 16px;
	color: #354252;
}

.form-inline .btn {
	padding: 0;
}

.btn-search {
	width: 86px;
	height: 36px;
	margin-left: 30px;
	color: #fff;
	background: #40B7BD;
}

.btn-add {
	width: 86px;
	height: 36px;
	color: #fff;
	background: #4790FB;
}

.btn-toView {
	width: 52px;
	height: 26px;
	color: #354252;
	background: #fff;
	border: 1px solid #eff0f3;
}

.btn-search:hover,.btn-search:focus,
.btn-add:hover{
	color: #fff;
}
.btn-toView:hover,
.btn-toView:focus,
.btn-toView.focus {
	color: #354252;
}
.sorting_disabled{width:150px!important;}
.odd td,.even td{width:150px!important;}
#dataTable thead tr{display:none;}
.dataTables_length{margin-bottom: 20px;}
table,
th {
	text-align: center;
}
thead tr{
	height: 50px;
	line-height: 50px;
	color: #354251;
	font-size: 14px;
}
tbody tr {
	height: 20px;
	line-height: 20px;
}

th {
	font-size: 14px;
	color: #354252;
	background: #f3f8fc;
	border: none!important;
}
td {
	background: #fff!important;
	color: #354251;
	font-size: 12px;
}

tr:hover td {
	background-color: whitesmoke!important;
}

table {
	border: 1px solid #edf1f2;
}
/**表格高度下边框**/
table.dataTable.display tbody td {
	border-bottom: 1px solid #edf1f2!important;
	padding: 21px 10px!important;
}
/**表格按钮样式**/
.marright5{
	width: 50px;
	height: 26px;
	line-height: 26px;
	margin-right: 9px;
	background: #fff;
	color: #354251;
	font-size: 12px;
	border: 1px solid #DEE1E6;

}
.marright5:hover,.marright5:focus{
	color: #354251!important;
}
/**页脚左侧文字样式**/
.dataTables_info{
	margin-top: 30px;
}

/*富文本编辑器*/
.cke_chrome {
    max-width: 800px;
}

/*分页按钮*/
.paginate_button {
	margin: 0px 10px;
	height: 24px;
	line-height: 24px;
	
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	color: #333!important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	color: #fff!important;
	background: #4790fb;
}

.dataTables_paginate{
	padding-top: 30px!important;
}
/*个人认证列表显示总条数*/
/*#example_info{
	position: absolute;
    right: 218px;
    padding-top: 37px;
    color: #6c6c6c;
    font-size: 12px;
}*/

.amap-marker-content{
				display: none;
			}