.no-organ {
	display: none;
	padding: 12% 0;
	text-align: center;
	height: 100%;
}

.no-organ p {
	margin-top: 75px;
	font-size: 18px;
	font-weight: bold;
}

.have-organ {
	display: none;
}

.institutions {
	padding: 30px 30px;
}

.thumbnail {
	position: relative;
	width: 39%;
	padding: 0;
	border: 0;
}

.thumbnail img {
	width: 100%;
}

.thumbnail span {
	display: block;
	position: absolute;
	width: 120px;
	height: 46px;
	line-height: 46px;
	top: -20px;
	left: -20px;
	background: rgba(255, 0, 0, 0.6);
	font-size: 18px;
	color: #fff;
	text-align: center;
}

.text-center {
	/*padding-left: 40px;*/
}

.text-center h3 {
	margin: 8% auto 5%;
	padding-left: 40px;
	background: url(../../images/train_image_institution_bg.png) no-repeat left center;
	font-size: 20px;
}

.text-center button {
	display: block;
	margin-left: 40px;
	margin-bottom: 2%;
	width: 120px;
	height: 46px;
	color: #fff;
}

#deployBtn {
	background-color: #9f569f !important;
}

#offlineBtn {
	background-color: #4790fb !important;
}

#editBtn {
	background-color: #40b7bd !important;
}

#previewBtn {
	background-color: #ffaf00 !important;
}

#preview .modal-dialog {
	width: 414px;
}

#preview-content {
	padding: 0 10px;
	height: 667px;
}

@media screen and (max-width: 1280px) {
	#preview-content {
		height: 500px;
	}
}

iframe {
	overflow-x: hidden;
	overflow-y: hidden;
}