body{
	background: url(../../images/train_bg_2.png) no-repeat center;
	background-size: cover;
    -webkit-background-size: cover;
    overflow: hidden;
}
.modify-content{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.modify-content h2 {
	font-size: 34px;
	font-weight: bold;
}
.bgcolor-f9f9f9 {
    max-width: 43%;
    height: 60%;
    margin: 0 auto;
}
.form-horizontal,.panel-body{
	display: none;
	margin: 0 auto;
    margin-top: 30%;
	padding: 5%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.form-horizontal .help-block{
	margin-top: 2px;
	margin-bottom: 10px;
	padding-left: 3%;
}
.active{
	display: block;
}

#btn-next{
	display: block;
	margin: 0 auto;
	width: 60%;
	height: 50px;
}

/*忘记密码*/
.forget-password .form-control{
	width: 60%;
	margin: 8% auto 5%;
}
/*查看邮件*/
.mail-trieve{
	text-align: center;
}
.mail-trieve img{
	margin: 7% auto 3%;
}
.mail-trieve p{
	margin-bottom: 10%;
	font-size: 20px;
}

/*重置密码*/
.form-group{
	margin: 8% auto 5%;
}
.reset-password .form-control{
	width: 60%;
	margin: 0 auto;
}
.fillIn {
    position: relative;
    display: inline-block;
}
.icon-password {
    position: absolute;
    top: 52%;
    right: 22%;
    width: 24px;
    height: 17px;
    transform: translateY(-50%);
}
/*密码重置成功*/
.reset-success{
	margin: 0 auto;
	margin-top: 21%;
	width: 70%;
	font-size: 22px;
	display: flex;
    align-items: center;
    justify-content: center;
}
.reset-success div.fr{
	line-height: 1.5;
	padding: 10px;
}
.reset-success span{
	font-size: 14px;
}
.reset-success a{
	color: #d71424;
}
