body {line-height: .35rem;color: #fff;background: #2b2938}
a:active,a:hover {color: #fff}
.text-box {margin-top: 1.18rem;padding: 0 .24rem}
.text-box p {font-size: .28rem;line-height: 1.5;text-indent: 2em;color: #fff}
.text-box h2 {font-size: .32rem;line-height: .4rem}
.text-box span {font-size: .24rem;display: block;margin: .1rem 0;text-indent: 2em}