/*rest*/
@charset "utf-8";
html { font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-size: 62.5%; }
body { font-family:"Helvetica Neue";margin: 0; line-height: 1.5; color: #333333; background-color: #f0f0f0; height: 100%; overflow-x: hidden; -webkit-overflow-scrolling: touch; }

html,body{max-width: 750px; margin: 0 auto;background: #2b2938;}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

a { background: transparent; text-decoration: none; -webkit-tap-highlight-color: transparent; color: #0088cc; }
a:active { outline: 0; }
a:active { color: #006699; }

img { border: 0; vertical-align: middle; }

a,button,input{outline: none;}
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input { line-height: normal; }

html, button, input, select, textarea { font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; }
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote { margin: 0; font-weight: normal;}

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.fr{float:right;}
.fl{float:left;}
.clear:after{content:"";clear:both;display:block;height:0;overflow:hidden;}
.clear{zoom:1;}

.auth-guide{
	margin: 0 auto;
	text-align: center;
	margin-top: 1.38rem;
}
.auth-guide h2{
	margin: 0 auto .6rem;
	width: 5.4rem;
	line-height: 1.5;
	font-size: .3rem;
	color: #ff296a;
}
.auth-guide h3{
	padding: 0.3rem 0;
	line-height: 1.7;
	background: #24222f;
	border-bottom: 1px solid rgba(2,180,231,0.2);
	font-size: .32rem;
	color: #f3f3f3;
}
.auth-guide h3 span{
	display: block;
	font-size: .32rem;
	color: #c4c4c4;
}
.auth-guide .guide-img{
	margin: .6rem auto 1.2rem;
	width: 7.1rem;
}
.auth-guide .guide-img img{
	width: 100%;
}
.auth-guide .guide-btn{
	display: block;
	margin: 0 auto 1rem;
	width: 5.8rem;
	height: .84rem;
	line-height: .84rem;
	background: #ff296a;
	border: none;
	border-radius: .42rem;
	font-size: .32rem;
	color: #ffffff;
	outline: none;
}