.container>li{
	height: 1rem;
	line-height: 1rem;
}
.container li:nth-child(1) label{
	float: left;
}
.container .codeLi{
	height: 1.2rem;
	line-height: 1.2rem;
}
#name{
    overflow-y: hidden;
    padding-left: .3rem;
}
#nation{
	padding-left: 0.6rem;
}
.sendCode{
	position: absolute;
	top: 0.3rem;
	right: 0.24rem;
	padding: 0;
	width: 1.72rem;
	height: 0.46rem;
	border: none;
	text-align: center;
	border-radius: 0.23rem;
	color: #fff;
	font-size: 0.24rem;
	background-color: #ff296a;
}
#code{
	width: 4rem;
    margin-left: 0.4rem;
}
#phone{
	padding-left: 24px;
}
.active{
	background-color: rgba(255,255,255,.25);
}
