.guidance-teacher{
	width: 355px;
	height: 176px;
	padding: 10px;
	border-radius: 4px;
}
.guidance-teacher li{
	position: relative;
	height: 176px;
	margin-bottom: 10px;
}
.guidance-teacher li img{
	filter:brightness(.6);
    -webkit-filter:brightness(.6);
    -moz-filter:brightness(.6);
    -o-filter:brightness(.6);
}
.guidance-name{
	width: 100%;
    padding: 0 35px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	box-sizing: border-box;
}
