@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
	border-bottom: none;
}
img {
	border: 0;
	vertical-align: top;
}
a {
	text-decoration: none;
}
html,
body {
	width: 100%;
	height: 100%;
}
.comment-content{
	position: relative;
	height: 100%;
}
.comment-content>.mui-scroll-wrapper{
	position: relative;
	top: .88rem;
}
.mui-table-view{
	background: none;
}
.mui-table-view:before{
	height: 0px;
}
.iconfont {
	font-family: yofont !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align: middle;
}
.l-footer {
	width: 100%;
	margin: 0 auto;
	background: #22202d;
	position: absolute;
	bottom: 0;
	z-index: 10;
}

.l-footer div.comment-text {
	margin: 0 auto;
	padding: .1rem 0;
	width: 95%;
	height: .86rem;
	font-size: .28rem;
}

.l-footer div.comment-text div.write-comment {
	display: inline-block;
	width: 80%;
	height: .66rem;
	line-height: .66rem;
	border-radius: .1rem;
	border: 0;
	outline: none;
	text-indent: .1rem;
	color: #807f83;
	background: white;
}

.l-footer div.comment-text .send {
	display: inline-block;
	width: 18%;
	border-radius: .1rem;
	height: .66rem;
	background: #666;
	border: 0;
	outline: none;
	color: #9E9E9E;
	text-align: center;
}

.l-footer .down-comment {
	width: 100%;
	height: auto;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: box;
	display: flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-moz-flex-direction: column;
	flex-direction: column;
	position: relative;
	display: none;
}

.l-footer .down-comment>div.Comment {
	width: 100%;
	height: 4.26rem;
	position: relative;
}
.l-footer .down-comment>div.Comment .replay-comment {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background: #f0f0f0;
}
.l-footer .down-comment>div.Comment .replay-comment .mui-table-view{
	background: #f0f0f0;
}
.l-footer .down-comment>div.Comment .replay-comment .mui-table-view li {
	float: left;
	padding: .1rem .25rem;
	margin: .1rem;
	line-height: 1.5;
	background: #fff;
	font-size: .24rem;
	border-radius: .5rem;
	border: 1px solid #b1edcd;
	color: #807f83;
}
.l-footer .down-comment>div.Comment .systemlabel{
	width: 100%;
	height: auto;
}


.l-footer .down-comment>div.Comment .userlabel{
	display: block;
	/*margin-top: 1.2rem;*/
	width: 100%;
    text-align: center;
}
.l-footer .down-comment>div.Comment .userlabel .iconfont {
    display: inline-block;
	margin-top: 1.22rem;
	padding: .1rem;
    padding-bottom: 0;
	line-height: 1.1;
	border: 1px solid #c3c3c3;
	border-radius: .1rem;
	text-align: center;
	font-size: .8rem;
	color: #666;
	
}
.l-footer .down-comment>div.Comment .userlabel p{
    height: .2rem;
    line-height: 5;
	font-size: .3rem;
	color: #6f7378;
}
.backImg{
	background: #2b2938;
}

.l-footer .down-comment .self-comment {
	width: 100%;
	height: .74rem;
	background: #fff;
}
.l-footer .down-comment .self-comment ul{
	height: .74rem;
}
.l-footer .down-comment .self-comment ul li.iconfont {
	float: left;
	width: .9rem;
	font-size: .48rem;
	line-height: .74rem;
	text-align: center;
	border-right: 1px solid #e6e6e6;
}
.l-footer .down-comment .self-comment ul li.iconfont.active {
	background: #f0f0f0;
}

.l-footer .down-comment .self-comment ul li.iconfont:nth-child(1) {
	color: #6f7378;
}

.l-footer .down-comment .self-comment ul li.iconfont:nth-child(2) {
	font-size: 0.4rem;
	color: #f29c03;
}

.l-footer .down-comment .self-comment ul li.iconfont:nth-child(3) {
	color: #fb4a74;
	border-right: none;
}

/*评论*/
.mui-table-view{
	position: static;
	background: #22202d;
}
.mui-table-view>li:not(.title){
	padding: 0.2rem 0.3rem;
	padding-left: 0;
	margin-left: 0.3rem;
	border-bottom: 1px solid #32303c;
	font-size: 14px;
	color: #8f8f94;
}
.mui-table-view>li:last-child{
	border-bottom: none;
}
.title{
	padding-left: 0.3rem;
	height: 0.6rem;
	line-height: 0.6rem;
	font-size: 0.3rem;
	color: #c82057;
	font-weight: bold;
	background: #2b2938;
}
.title:before{
	content: "";
	margin-right: 0.2rem;
	width: 0;
	height: 0.3rem;
	border: 1px solid #c82057;
}
.header{
	position: relative;
	margin-right: 0.2rem;
}
.header>img{
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 50%;
}
.header>.icon-v{
	left: 0.5rem;
}
.name{
	margin-right: 0.2rem;
	font-size: 0.3rem;
	color: #fff;
}
.comment{
	width: 5.9rem;
}
.first>.reply{
	margin-top: 0.2rem;
}
.second,
.more.purple{
	padding-left: 1rem;
}
.second>li{
	line-height: 2;
	word-break: break-all;
}
.purple{
	color: #a368fa;
}
.hide{
	display: none;
}
.reply.fr{
	margin-left: 0.03rem;
}
/*弹出框*/
#popover{
    width: 2rem;
	color: #fff;
    background: rgb(16, 16, 16);
    text-align: center;
}
#popover li{
	margin: 0.1rem .3rem 0;
    border-bottom: 1px solid #464040;
    font-size: .34rem;
    line-height: 1.7;
}
#popover li:last-child{
	border-bottom: none;
}
