body{
	background: #2b2938;
}
li{
	list-style: none;
}
.login-header {
	margin-top: 1.06rem;
	width: 100%;
	height: 1.29rem;
	text-align: center;
}
.login-header img {
	width: 2.85rem;
	height: 1.29rem;
}
.mui-content{
	margin-top: .44rem;
	background: none;
}
.login-content{
	margin: 0;
    margin-top: 1rem;
	padding: 0 .95rem;
	width: 100%;
}
.login-content>li {
	position: relative;
	padding-top: .5rem;
	width: 5.6rem;
    border-bottom: 2px solid rgba(255,255,255,0.07);
    font-size: .28rem;
    overflow: hidden;
}
.login-content>li>input {
    float: left;
    margin-bottom: .3rem;
    padding: 0;
    padding-left: .04rem;
    height: .3rem;
    line-height: .3rem;
    background: none;
    border: 0;
    font-size: .28rem;
    color: #fff;
    outline: none;
}
.icon-shanchu{
    display: none;
    position: absolute;
    right: .1rem;
    font-size: .28rem !important;
    color: #fff;
}
.login-content>li>input.btn-code {
    position: absolute;
    right: .2rem;
    margin-top: -.1rem;
    width: 1.72rem;
    height: .46rem;
    border-radius: .23rem;
    font-size: .24rem;
    color: #fff;
    background: #ff296a;
}
.login-content>li>input::-webkit-input-placeholder { /* WebKit browsers */
	line-height: 1.2;
    color:#6c6c6c;
}
.login-content>li>input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	line-height: 1.2;
    color:#6c6c6c;
}
.login-content>li>input::-moz-placeholder { /* Mozilla Firefox 19+ */
	line-height: 1.2;
    color:#6c6c6c;
}
.login-content>li>input:-ms-input-placeholder { /* Internet Explorer 10+ */
	line-height: 1.2;
　　 color:#6c6c6c;
}
.btn-box {
    margin: 0 auto;
    margin-top: .5rem;
    width: 5.6rem;
}
.btn-login {
    display: block;
    padding: 0;
    width: 100%;
    height: .84rem;
    line-height: .84rem;
    background: rgba(255,255,255,.25);
    border: 0;
    border-radius: .42rem;
    font-size: .32rem;
    color: #fff;
}
.player-authen{
	float: right;
	margin: .4rem 0 0 0;
}
.player-authen a{
	font-size: .28rem;
	color: #e2e1e1;
}
.clause-state{
	width: 100%;
	max-width: 7.5rem;
	position: fixed;
	bottom: .5rem;
	text-align: center;
	font-size: .26rem;
	color: #6c6c6c;
}
.clause-state a{
	color: #8f8f8f;
}
.clause-state a:active {
	color:#6c6c6c;
