@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: top;
}
a {
  text-decoration: none;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: Helvetica Neue, Helvetica, STHeiTi, sans-serif;
}
html {
  font-size: 100px;
  background: #fff;
}
.m-menu {
  width: 100%;
  height: 100%;
  background: #282938;
  position: relative;
}
.m-menu .sHeader {
  width: 100%;
  height: 0.88rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 0.2rem;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: box;
  display: flexbox;
  display: flex;
  background: #22202d;
}
.m-menu .sHeader >ul {
  height: 0.88rem;
  webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: #96969b 1px solid;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: box;
  display: flexbox;
  display: flex;
}
.m-menu .sHeader >ul .btn-search {
  width: 0.84rem;
  height: 100%;
  line-height: 0.84rem;
  background: none;
  border: none;
  font-size: 0.32rem;
  text-align: center;
  color: #878787;
  outline: none;
}
.m-menu .sHeader >ul li {
  webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: box;
  display: flexbox;
  display: flex;
}
.m-menu .sHeader >ul li >input {
  webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
  width: 100%;
  height: 100%;
  line-height: 0.84rem;
  color: #fff;
  font-size: 0.28rem;
  border: none;
  outline: medium;
  background: #22202d;
}
.m-menu .sHeader >ul li .icon-close {
  width: 0.52rem;
  height: 0.84rem;
  line-height: 0.88rem;
  color: #fff;
  font-size: 0.32rem;
  text-align: center;
  display: none;
}
.m-menu .sHeader .sRemove {
  width: 1.2rem;
  height: 0.88rem;
  line-height: 0.88rem;
  text-align: center;
  color: #fff;
  font-size: 0.28rem;
}
.m-menu .sPage1 {
  webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
  width: 100%;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: box;
  display: flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
}
.m-menu .sPage1 .sNav {
  width: 100%;
  height: 0.72rem;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: box;
  display: flexbox;
  display: flex;
}
.m-menu .sPage1 .sNav .sTest {
  height: 0.72rem;
  webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
  line-height: 0.72rem;
  color: #ec1c60;
  font-size: 0.24rem;
  text-indent: 0.48rem;
  position: relative;
  background: #22202d;
}
.m-menu .sPage1 .sNav .sTest:before {
  position: absolute;
  content: '';
  display: block;
  width: 0;
  height: 0.24rem;
  border-left: #ec1c60 solid 0.04rem;
  top: 0.22rem;
  left: 0.3rem;
  background: #22202d;
}
.m-menu .sPage1 .sNav #moreS {
  width: 1.2rem;
  height: 0.72rem;
  text-align: center;
  line-height: 0.72rem;
  font-size: 0.24rem;
  color: #ec1c60;
  text-decoration: underline;
  background: #22202d;
}
.m-menu .sPage1 .sNav #moreS a {
  margin: 0;
  padding: 0;
  width: 1.2rem;
  height: 0.72rem;
  text-align: center;
  line-height: 0.72rem;
  font-size: 0.24rem;
  color: #ec1c60;
  text-decoration: underline;
  background: #22202d;
}
.m-menu .sPage1 .sNav #moreS .page_nomore {
  margin: 0;
  padding: 0;
  width: 1.2rem;
  height: 0.72rem;
  text-align: center;
  line-height: 0.72rem;
  font-size: 0.24rem;
  color: #ec1c60;
  text-decoration: underline;
  background: #22202d;
}
.m-menu .sPage1 .sNav1 {
  padding-top: 0;
  background-color: #282938;
}
.m-menu .sPage1 .sHot {
  width: 100%;
  min-height: 0.72rem;
  background-color: #282938;
  color: #fff;
  overflow: hidden;
}
.m-menu .sPage1 .sHot >ul {
  overflow: hidden;
}
.m-menu .sPage1 .sHot >ul >a {
  float: left;
  height: 0.44rem;
  border: 1px solid #fff;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem;
  padding: 0 0.18rem;
  margin: 0.24rem 0.2rem;
  margin-right: 0;
  font-size: 0.24rem;
  line-height: 0.44rem;
}
.m-menu .sPage1 .related-user {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #373845;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: box;
  display: flexbox;
  display: flex;
}
.m-menu .sPage1 .related-user >ul {
  margin-top: .24rem;
  width: 100%;
  overflow: hidden;
}
.m-menu .sPage1 .related-user >ul >li {
  width: 24%;
  float: left;
}
.m-menu .sPage1 .related-user >ul >li span {
  width: 100%;
  display: block;
  height: 0.72rem;
  line-height: 0.72rem;
  text-align: center;
  color: #fff;
  font-size: 0.24rem;
}
.m-menu .sPage1 .related-user >ul >li >a {
  width: 100%;
  height: 1.28rem;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: box;
  display: flexbox;
  display: flex;
}
.m-menu .sPage1 .related-user >ul >li >a img {
  display: block;
  width: 1.28rem;
  height: 1.28rem;
  margin: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.m-menu .sPage1 .related-user .gomyhome {
  display: block;
  height: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
  color: #fff;
  font-size: 0.6rem;
}
.m-menu .sPage1 .related-video {
  display: none;
  width: 100%;
  margin: 0 auto;
  background: #282938;
  overflow: hidden;
}
.m-menu .sPage1 .related-video ul {
  margin-right: -2%;
  overflow: hidden;
}
.m-menu .sPage1 .related-video ul li {
  float: left;
  margin-bottom: 0.2rem;
  margin-right: 2%;
  width: 48%;
  height: 4.2rem;
  position: relative;
}
.m-menu .sPage1 .related-video ul li >img {
  width: 100%;
  height: 3.2rem;
}
.m-menu .sPage1 .related-video ul li .avator {
  position: relative;
  margin-top: 0.1rem;
  width: 100%;
  height: 0.44rem;
  border-radius: 50%;
}
.m-menu .sPage1 .related-video ul li .avator img {
  float: left;
  position: absolute;
  top: -0.3rem;
  left: 0.2rem;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
}
.m-menu .sPage1 .related-video ul li .avator span {
  float: left;
  margin-left: 1rem;
  font-size: 0.28rem;
  color: #bfbec3;
}
.m-menu .sPage1 .related-video ul li .avator .fr {
  margin-left: 0;
  float: right;
}
.m-menu .sPage1 .related-video ul li h3 {
  margin-left: 0.2rem;
  font-size: 0.32rem;
  color: #ffffff;
  font-weight: normal;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.m-menu .sPage1 .related-video ul .backImg {
  width: 100%;
  height: 9.6rem;
  background: url(../images/sweet.jpg) no-repeat center;
  position: relative;
}
.m-menu .sPage1 .related-video ul .backImg span {
  display: block;
  width: 100%;
  height: 0.4rem;
  text-align: center;
  font-size: 0.28rem;
  color: #504f5b;
  line-height: 0.4rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1.6rem;
}
.m-menu .sPage1 .snewList {
  background-color: #282938;
  webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
  width: 100%;
  overflow: hidden;
  display: none;
}
.m-menu .sPage1 .snewList li {
  width: 100%;
  height: 0.82rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 0.02rem solid #96969b;
  padding-left: 0.3rem;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: box;
  display: flexbox;
  display: flex;
}
.m-menu .sPage1 .snewList li >p {
  webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.24rem;
  color: #fff;
}
.m-menu .sPage1 .snewList li >span {
  width: 0.8rem;
  height: 0.8rem;
  text-align: center;
  line-height: 0.8rem;
  font-size: 0.28rem;
  color: #fff;
}
.m-menu .sPage1 .snewList li:last-child {
  border-bottom: none;
}
