*{
	margin:0;
	padding:0;
}
body{
	background:#2b2938;
	box-sizing:border-box;
}
.mui-bar-nav{
    background: #2b2938;
}
/*title-head*/
h2{
	margin-top:1.24rem;
	font-size: 0.34rem;
	color:#FFFFFF;
	line-height:1.5;
	text-align:center;
	
}
/*section*/
section{
	width:6.82rem;
	background:url(../images/test_border_play.png) no-repeat;
	background-size:100% 100%;
	margin:0.8rem auto 0;
	padding:0.56rem 0.36rem 0.2rem 0.36rem;
}
section p{
	padding-left:0.44rem;
	margin-bottom:0.34rem;
	color:#F1F1F1;
	font-size:0.24rem;
}
dl{
	padding-bottom:0.24rem;
}
dl:after{
	content:"";
	display:block;
	width:0;
	height:0;
	clear:both;
}
dl dt{
	width:0.34rem;
	height:0.34rem;
	float:left;
	
}
dl dt img{
	width:100%;
	height:100%;
}
dl dd{
	width:5.62rem;
	margin-left:0.1rem;
	float:left;
	font-size:0.26rem;
	line-height:1.5;
	color:#F1F1F1;
	word-break:break-word;
}

/*button*/
.btn-test{
	width:4.64rem;
	height:0.72rem;
	border-radius:0.36rem;
	background-color:#FF296A;                                                                                                                                                                   
	color:#FFFFFF;
	font-size:0.3rem;
	font-weight:bold;
	border:none;
	display:block;
	margin:1.26rem auto 0.24rem;
	
}
/*explain*/
.prompt{
	text-align:center;
	font-size:0.26rem;
	color:#807F87;
	margin-bottom:0.9rem;
}
