body{
	background: #2b2938;
}
#header {
	max-width: 750px;
	margin: 0 auto;
    height: 0.88rem;
    background-color: rgba(0,0,0,0);
}
.mui-title,
.mui-bar .mui-btn {
	height: 0.88rem;
    line-height: 0.88rem;
    font-size: 0.34rem;
    color: #fff;
}
.mui-icon-back:before,
.mui-icon-left-nav:before{
    color: #fff;
    
}
.mui-bar .mui-btn-link:active {
    color: #fff;
    border: none;
}
.mui-bar .mui-icon {
    font-size: 0.48rem;
}
.mui-bar-nav{
	box-shadow: none;
	
}
img{
	width: 100%;
	height: 100%;
}

.info{
	width: 100%;
	height: 5.2rem;
}
.info-bg{
	width: 100%;
	height: 5.2rem;
	background-size: 100%;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    opacity: .7; /* fallback */ 
    overflow: hidden;       
    background-repeat: no-repeat;
	background-size: cover;
}
.info-content{
	position: absolute;
	top: 1.54rem;
	left: 50%;
	transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    width: 100%;
	height: 5.2rem;
	font-size: 0.26rem;
	color: #e7e7e7;
	text-align: center;
}
.info-header{
	width: 1.56rem;
	height: 1.56rem;
	margin: auto;
	border-radius: 50%;
	box-shadow: 6px 6px 16px #191824;
	overflow: hidden;
}
.info-name{
	margin: .24rem 0 .16rem;
}


body{
	background: #2b2938;
}
img{
	width: 100%;
	height: 100%;
}

.instructions{
	width: 4.2rem;
	height: 3.04rem;
	margin: 0.8rem auto 1rem;
	background-size: contain;
}
button{
	display: block;
	
	height: 0.84rem;
	margin: auto;
	font-size: 0.3rem;
	color: #fff;
	
	border-radius: 0.42rem;
	
	border: none;
}
#infomatching{
	width: 3.6rem;
	margin-bottom: 0.38rem;
	background: #ff296a;
	
}
.tips{
	line-height: 1.54;
	font-size: 0.26rem;
	color: #807f87;
	margin-bottom: 0;
	text-align: center;
}
/*选手信息匹配*/
#infomatchingPopover{
	display: block;
    width: 7.06rem;
    padding: 0.42rem 0 0.3rem;
    top: 1.4rem;
    left: 50%;
    margin-left: -3.53rem;
    border-radius: 0.3rem;
    background: #2b2939;
	
}
#infomatchingPopover h1{
	margin-bottom: 0.8rem;
	font-size: 0.34rem;
	color: #fff;
	text-align: center;
}
#infomatchingPopover input{
	display: block;
	margin: auto;
	padding-left: 0.2rem;
	width: 6.28rem;
	height: 0.8rem;
	border-radius: 0.1rem;
}
#match{
	width: 6.28rem;
	margin: 1rem auto 0.3rem;
	background: rgba(255,255,255,.25);
}

#matchcode{
	border-top: 0;
}
#verifyImg{
	width: 1rem;
    position: absolute;
    height: 0.6rem;
    top: 2.6rem;
    right: 0.6rem;
}
#coding{
	border-top: 0;
}
.notice{
	transform: translateY(-3.12rem);
	font-size: 0.26rem;
	color: #929294;
}

@media screen and (min-width: 750px){
	.mui-iframe-wrapper{
		max-width: 750px!important;
		margin: 0 auto!important;
	}		
}