body {
	line-height: .35rem;
	color: #fff;
	background: #2b2938
}
.mui-bar {
	height: .88rem;
    line-height: .88rem;
    background-color: #15141b;
    -webkit-box-shadow: none;
    box-shadow: none;

}
.mui-bar .mui-action-back {
	margin-right: -.2rem;
    margin-left: -.2rem;
    padding-right: .25rem;
    padding-left: .25rem;
    font-size: .48rem;
    position: relative;
    z-index: 20;
    padding-top: .2rem;
    padding-bottom: .2rem;
    color: #fff;
	
}
.mui-bar .mui-title{
	    color: #fff;
    font-size: .32rem;
    right: .8rem;
    left: .8rem;
    height: .88rem;
    line-height: .88rem;
    display: inline-block;
    overflow: hidden;
    width: auto;
    margin: 0;
    text-overflow: ellipsis;
}
a:active,
a:hover {
	color: #fff
}
.text-box {
	margin-top: 1.18rem;
	padding: 0 .24rem
}
.text-box p {
	font-size: .28rem;
    line-height: 1.5;
	text-indent: 2em;
	color: #fff
}
.text-box h2 {
	font-size: .32rem;
	line-height: .4rem
}
.text-box span {
	font-size: .24rem;
	display: block;
	margin: .1rem 0;
	text-indent: 2em
}