@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	border-bottom: none;
}

img {
	border: 0;
	vertical-align: top;
}

a {
	text-decoration: none;
}

html,
body {
	width: 100%;
	height: 100%;
	background-color: #282938;
}

.myinfo {
	position: relative;
	width: 100%;
	height: 100%;
}

.mui-scroll-wrapper {
	top: .88rem;
	bottom: 1rem;
}

.sLable {
	height: 2rem;
	background-color: #23222f;
	border-bottom: 1px #363541 solid;
}

.sLable> li:nth-child(1) {
	width: 1.32rem;
	height: 1.32rem;
	border-radius: 50%;
	overflow: hidden;
	margin: .3rem .3rem 0 .3rem;
}

.sLable> li:nth-child(2) {
	padding-top: 0.4rem;
	width: 4.7rem;
}

.sLable> li:nth-child(2) p {
	font-size: 0.24rem;
	line-height: 0.4rem;
	color: #fff;
}

.sLable> li:nth-child(3) {
	width: 0.8rem;
	height: 2rem;
	line-height: 2rem;
	font-size: 0.36rem;
	text-align: center;
	color: #858585;
}

.sLable> li:nth-child(3) a {
	color: #858585;
}

.useSec {
	height: 1.04rem;
	background-color: #23222f;
}

.useSec>li {
	float: left;
	width: 25%;
	margin-top: 0.2rem;
	border-right: 1px solid #484752;
}

.useSec>li:last-child {
	border-right: none;
}

.useSec>li p {
	width: 100%;
	height: 0.34rem;
	font-size: 0.24rem;
	text-align: center;
	margin-bottom: 0;
}

.useSec>li p:nth-child(1) {
	color: #fff;
	line-height: 0.28rem;
}

.useSec>li p:nth-child(2) {
	color: #8f8f8f;
	line-height: 0.4rem;
}

.newSlist {
	width: 100%;
	background-color: #23222f;
}

.newSlist>li {
	height: 1rem;
	border-bottom: 1px solid #393944;
}

.newSlist>li>span {
	display: inline-block;
}

.newSlist>li>span:first-child {
	width: .92rem;
	line-height: 1rem;
	font-size: 0.44rem;
	color: #8f8f8f;
	text-align: center;
}

.newSlist>li>span:nth-child(2) {
	width: 5.8rem;
	font-size: 0.24rem;
	color: #fff;
}

.newSlist>li>.iconfont {
	font-size: 0.44rem;
	color: #8f8f8f;
}

ul {
	margin-top: .24rem;
}

.useSec {
	margin-top: 0;
}

.newSlist>li:last-child {
	border-bottom: none;
}


/*未读消息提示*/

#lastbest>a {
	position: relative;
}

.unRead {
	position: absolute;
	top: 0.18rem;
	right: 0.6rem;
	display: inline-block;
	width: 0.16rem;
	height: 0.16rem;
	border-radius: 50%;
	background: #f20956;
}

.newSlist li {
	position: relative;
}

.gomynews .unRead {
	position: absolute;
	top: 0.45rem;
	right: 0.8rem;
	display: inline-block;
	width: 0.16rem;
	height: 0.16rem;
	border-radius: 50%;
	background: #f20956;
}