#upLoadTab li{
	list-style: none;
	height: 1rem;
    box-sizing: border-box;
    padding: 0.13rem 0.15rem;
    border-bottom: 1px solid #52505c;
}
#upLoadTab li img{
	width: 0.71rem;
    height: 0.71rem;
    margin-right: 0.1rem;
    float: left;
}
.upload{
	height: 100%;
}
.upload-name{
	font-size: 0.13rem;
	color: #fff;
}
.upload-date{
	font-size: 0.1rem;
	color: #78787b;
	margin: 0.04rem;
}
.upload-favor{
	font-size: 0.12rem;
	color: #b8b8b8;
}
