@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: top;
}
a {
  text-decoration: none;
}
html{
	background-color: #2b2938;
}
#pullrefresh{
	width: 100%;
	height: 100%;
	position: relative;
}
.mui-bar-tab {
  height: .68rem;
}
.mui-bar {
  padding-left: .2rem;
  padding-right: .2rem;
  height: .88rem;
  line-height: .88rem;
}
.mui-bar-nav {
  background-color: #191919;
}
.mui-bar .mui-title {
  color: #fff;
  font-size: .32rem;
  right: .8rem;
  left: .8rem;
  height: .88rem;
  line-height: .88rem;
  display: inline-block;
  overflow: hidden;
  width: auto;
  margin: 0;
  text-overflow: ellipsis;
}
.mui-bar .mui-btn.mui-pull-right {
  margin-left: 0;
}
.mui-bar-nav ~ .mui-content {
  padding-top: .88rem;
  padding-bottom: .72rem;
}
.mui-bar-nav ~ .mui-content .mui-pull-top-pocket {
  top: .88rem;
}
.mui-bar-nav.mui-bar .mui-icon {
  display: none;
  color: #fff;
  font-size: .4rem;
  margin-right: -0.2rem;
  margin-left: -0.2rem;
  padding-right: .2rem;
  padding-left: .2rem;
  font-size: .48rem;
  position: relative;
  z-index: 20;
  padding-top: .2rem;
  padding-bottom: .2rem;
}
.mui-bar .mui-btn-link {
  color: #fff;
  font-size: .3rem;
  line-height: .88rem;
  position: relative;
  right: .12rem;
}
.mui-content {
  background-color: #282938;
}
.mui-table-view {
  background-color: #282938;
}
.mui-bar-nav {
  box-shadow: none;
}
.mui-table-view:before,
.mui-table-view:after {
  height: 0;
}
.mui-table-view-cell:after {
  height: 0;
}
.mui-table-view-cell {
  border-bottom: 1px solid #5c5b66;
  height: 1.2rem;
}
.mui-table-view-cell div.cell_left {
  width: .36rem;
  height: .36rem;
  display: inline-block;
  margin: .2rem .1rem .2rem .3rem;
}
.mui-table-view-cell div.cell_left input {
  width: .3rem;
  height: .3rem;
}
.mui-table-view-cell div.cell_right {
  display: inline-block;
  width: 86%;
  position: relative;
  top: 0.1rem;
}
.mui-table-view-cell div > p.list_body {
  font-size: .26rem;
  color: #B8B8B8;
  position: relative;
}
#redblo {
  width: .16rem;
  height: .16rem;
  border-radius: 50%;
  background-color: #f20956;
  position: absolute;
  right: .32rem;
  top: 0rem;
}
.lastUpdatedTime {
  font-size: .26rem;
  float: right;
  margin-right: .12rem;
  color: #B8B8B8;
  font-weight: normal;
}
.mui-h3,
h3 {
  font-size: .3rem;
  margin-bottom: .1rem;
  color: #fff;
  overflow: hidden;
}
.footer {
  height: .72rem;
  line-height: .72rem;
}
.footer .selectAll,
.footer .deletes {
  font-size: .3rem;
}
.footer .selectAll {
  position: relative;
  left: .2rem;
}
html,
body {
  width: 100%;
  height: 100%;
}
